{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load one_key_dict %}
{% load object_filter %}


{% block content %}
<h2 class="text-white">{% trans "frontend.home.not_done_title" context "Title not done for table" %}</h2>
<div class="table-responsive mb-2">
  <table class="table table-striped table-hover text-white">
    <thead>
      <tr>
        <th class="col-3 text-center">{% trans "frontend.home.name" context "Title name for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.deadline" context "Title deadline for not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.type" context "Title type for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.character_s" context "Title charater's for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.script" context "Title script for done/not done" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in not_done %}
      <tr>
        <td class="text-center align-middle"><a href="{% if item.type == 'episode' %}{% url 'stats_episode' item.object.pk %}{% elif item.type == 'scene' %}{% url 'stats_scene' item.object.pk %}{% endif %}"><b class="text-white">{{ item.object.name }}</b></a></td>
        <td class="text-center align-middle"><span class="countdown" data-deadline="{{ item.object.deadline|date:"Y-m-d\\TH:i:s\\Z" }}"></span></td>
        <td class="text-center align-middle">
          {% if item.type == "episode" %}
              {% trans "frontend.home.episode_title" context "Episode title for type" %}
          {% elif item.type == "scene" %}
              {% trans "frontend.home.scene_title" context "Scene title for type" %}
          {% endif %}
        </td>
        <td class="text-center align-middle">
          {% with request.user|one_key_dict:"user" as user_object_filter %}
            {% if item.type == "episode" %}
              {% for uc in item.object.usercharacterstable|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.character.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
              {% for uc in item.object.usercharactertemporary|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            {% elif item.type == "scene" %}
              {% for uc in item.object.usercharacterstable|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.character.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
              {% for uc in item.object.usercharactertemporary|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </td>
        <td class="text-center align-middle">
            {% if item.type == "episode" %}
                <a href="{% url 'download_script' 'episode' item.object.id %}" class="btn btn-primary">
                    {% trans "frontend.home.download_script" context "Download script button title" %}
                </a>
            {% elif item.type == "scene" %}
                <a href="{% url 'download_script' 'scene' item.object.id %}" class="btn btn-primary">
                    {% trans "frontend.home.download_script" context "Download script button title" %}
                </a>
            {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="5" class="text-center">{% trans "frontend.home.no_items_found" context "No items found for done/not done" %}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <h2 class="mt-5 text-white">{% trans "frontend.home.done_title" context "Title done for table" %}</h2>
  {% regroup done by dubbing as dubbing_groups %}
  {% for group in dubbing_groups %}
  <h4 class="text-white"><a href="{% url 'stats_dubbing' group.grouper.id %}" class="text-white"><b>{{ group.grouper.name }}</b></a></h4>
<div class="table-responsive mb-2">
  <table class="table table-striped table-hover text-white">
    <thead>
      <tr>
        <th class="col-3 text-center">{% trans "frontend.home.name" context "Title name for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.started" context "Title started for done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.type" context "Title type for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.character_s" context "Title charater's for done/not done" %}</th>
        <th class="col-3 text-center">{% trans "frontend.home.script" context "Title script for done/not done" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in group.list %}
      <tr>
        <td class="text-center align-middle"><a href="{% if item.type == 'episode' %}{% url 'stats_episode' item.object.pk %}{% elif item.type == 'scene' %}{% url 'stats_scene' item.object.pk %}{% endif %}"><b class="text-white">{{ item.object.name }}</b></a></td>
        <td class="text-center align-middle">{{ item.object.started }}</td>
        <td class="text-center align-middle">
          {% if item.type == "episode" %}
              {% trans "frontend.home.episode_title" context "Episode title for type" %}
          {% elif item.type == "scene" %}
              {% trans "frontend.home.scene_title" context "Scene title for type" %}
          {% endif %}
        </td>
        <td class="text-center align-middle">
          {% with request.user|one_key_dict:"user" as user_object_filter %}
            {% if item.type == "episode" %}
              {% for uc in item.object.usercharacterstable|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.character.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
              {% for uc in item.object.usercharactertemporary|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            {% elif item.type == "scene" %}
              {% for uc in item.object.usercharacterstable|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.character.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
              {% for uc in item.object.usercharactertemporary|object_filter:user_object_filter %}
                {% if uc.user == request.user %}
                  {{ uc.name }}{% if not forloop.last %}, {% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
        </td>
        <td class="text-center align-middle">
            {% if item.type == "episode" %}
                <a href="{% url 'download_script' 'episode' item.object.id %}" class="btn btn-primary">
                    {% trans "frontend.home.download_script" context "Download script button title" %}
                </a>
            {% elif item.type == "scene" %}
                <a href="{% url 'download_script' 'scene' item.object.id %}" class="btn btn-primary">
                    {% trans "frontend.home.download_script" context "Download script button title" %}
                </a>
            {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="5" class="text-center">{% trans "frontend.home.no_items_found" context "No items found for done/not done" %}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}