:root {
    --background-lightest: #353535;
    --background-light: #272727;
    --background-middle: #242424;
    --background-dark: #222222;
}

.background-lightest {
    background-color: var(--background-lightest) !important;
}

.background-light {
    background-color: var(--background-light) !important;
}

.background-middle {
    background-color: var(--background-middle) !important;
}

.background-dark {
    background-color: var(--background-dark) !important;
}

.border-lightest {
    border-color: var(--background-lightest) !important;
}

.border-light {
    border-color: var(--background-light) !important;
}

.border-middle {
    border-color: var(--background-middle) !important;
}

.border-dark {
    border-color: var(--background-dark) !important;
}

.text-orange {
    color: orange !important;
}

.text-yellow {
    color: yellow !important;
}

.background-orange {
    background-color: orange !important;
}

.background-yellow {
    background-color: yellow !important;
}

.light-hover {
    transition: opacity 0.3s;
}

.light-hover:hover {
    opacity: 0.7;
}

.lighter-group:nth-child(odd) {
    background-color: rgba(1, 1, 1, .2); /* Bootstrap's light background */
}